/* CSS for the website */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  text-align: center;
  padding: 25px 0;
}
@media screen and (min-width: 1000px) {
  a.app_store {
    filter: grayscale();
    opacity: 0.5;
  }
  a.app_store:hover {
    filter: none;
    cursor: pointer;
    opacity: 1;
  }
}
section {
  padding: 50px;
  text-align: center;
}
.dark_background {
  background-color: #333; 
  color: #f4f4f4;
}
.light_background {
  background-color: #f4f4f4; 
  color: #333;
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
img.app_store_icon {
  width: 96px;
  height: 96px;
  border-radius: 23%;
}
span.app_store_icon {
  display: block;
}
div.app_store_app {
  display: inline;
  padding: 0px 10px;
}
div.app_store_app_container {
  vertical-align: top;
  display: inline-block;
  text-align: center;
}
div.app_store_app > a {
  text-decoration: none;
}
div.app_store_app > a:visited {
  text-decoration: none;
}
.light_background > div.app_store_app > a {
  color: #333
}
.light_background > div.app_store_app > a:visited {
  color: #333
}
.dark_background > div.app_store_app > a {
  color: #f4f4f4
}
.dark_background > div.app_store_app > a:visited {
  color: #f4f4f4
}